.icon-menu {
  cursor: pointer;
  font-weight: 900;
  margin-left: 1rem;
  width: 40px;
  height: 40px;
  padding: 0.2rem;
}

.burguer-menu {
  position: absolute;
  top: -30vh;
  right: 0px;
  left: 0px;
  padding: 0.7rem;
  opacity: 0;
  transition: all 600ms ease 0s;
}

.activated {
  position: absolute;
  top: 28vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  opacity: 1;
  height: 25vh;
  margin: 0 0.2rem;
  border-radius: 5px;
  background-color: white;
  color: #4174c0;
}
